In [1]:

%reload_ext sql
%sql mysql+mysqlconnector://root:123456789@localhost/employees

In [2]:
%%sql
show databases;

 * mysql+mysqlconnector://root:***@localhost/employees
12 rows affected.

[('customers',),
 ('employees',),
 ('gl_da_cloud',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('remo',),
 ('root',),
 ('spotify_db',),
 ('sys',),
 ('t_test',),
 ('z',)]

In [5]:
%%sql
create database spotify_db;

 * mysql+mysqlconnector://root:***@localhost/employees
(mysql.connector.errors.DatabaseError) 1007 (HY000): Can't create database 'spotify_db'; database exists
[SQL: create database spotify_db;]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [3]:
%%sql
use spotify_db;

 * mysql+mysqlconnector://root:***@localhost/employees
0 rows affected.

[]

In [4]:
%%sql
CREATE TABLE IF NOT EXISTS spotify_tracks ( 
    id INT AUTO_INCREMENT PRIMARY KEY,
    track_name VARCHAR(255),
    artist VARCHAR(255), 
    album VARCHAR(255), 
    popularity INT, 
    duration_minutes FLOAT
);

 * mysql+mysqlconnector://root:***@localhost/employees
0 rows affected.

[]

In [5]:
%%sql
truncate table spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/employees
0 rows affected.

[]

In [8]:
%%sql
select * from spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/employees
9 rows affected.

[(1, 'Mr. Brightside', 'The Killers', 'Hot Fuss', 66, 3.70333),
 (2, 'Time is Running Out', 'Muse', 'Absolution', 7, 3.95065),
 (3, 'Uprising', 'Muse', 'The Resistance', 81, 5.08067),
 (4, 'Despacito', 'Luis Fonsi', 'VIDA', 85, 3.82267),
 (5, 'Mr. Brightside', 'The Killers', 'Hot Fuss', 8, 3.70125),
 (6, 'Lover', 'Taylor Swift', 'Lover', 87, 3.68843),
 (7, 'Shape of You', 'Ed Sheeran', '÷ (Deluxe)', 92, 3.8952),
 (8, 'Every Breath You Take', 'The Police', 'Synchronicity (Remastered 2003)', 93, 4.232),
 (9, 'Prelude for Piano No. 11 in F-Sharp Minor', 'Eduard Abramyan', 'Abramyan: Preludes – Rachmaninoff: Sonata No. 2 in B-Flat Minor, Op. 36 – Babadjanyan: Capriccio, Improvisation, Folksong, Elegy, Poem', 26, 4.13822)]

In [11]:
%%sql
select track_name,artist,album,popularity
from spotify_tracks
order by popularity desc
limit 1;

 * mysql+mysqlconnector://root:***@localhost/employees
1 rows affected.

[('Every Breath You Take', 'The Police', 'Synchronicity (Remastered 2003)', 93)]

In [8]:
%%sql
select avg(popularity) as average_popularity
from spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/employees
1 rows affected.

[(Decimal('60.1111'),)]

In [9]:
%%sql
select id,track_name,artist,duration_minutes
from spotify_tracks
where duration_minutes > 4.0;

 * mysql+mysqlconnector://root:***@localhost/employees
3 rows affected.

[(3, 'Uprising', 'Muse', 5.08067),
 (8, 'Every Breath You Take', 'The Police', 4.232),
 (9, 'Prelude for Piano No. 11 in F-Sharp Minor', 'Eduard Abramyan', 4.13822)]

In [10]:
%%sql
select 
      case 
           when popularity >= 80 then 'very popular'
           when popularity >= 50 then 'popular'
           else 'less popular'
           end as popularity_range,
count(*) as track_count
from spotify_tracks
group by popularity_range;

 * mysql+mysqlconnector://root:***@localhost/employees
3 rows affected.

[('popular', 1), ('less popular', 3), ('very popular', 5)]

In [ ]:
%%sql